/* font-family: 'El Messiri', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  overflow-x: hidden;

}

.mainHeader {
  position: relative;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-image: url(../images/photo1.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* width: 100vw; */
  max-width: 1600px;
  margin: 0 auto;
}

.headerIn {
  background-color: rgba(0, 0, 0, 0.6);
  height: inherit;
}

.headerIn .text {
  position: absolute;
  top: 0;
  left: -200%;
  right: 0;
  font-family: 'El Messiri', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 1s;
}

.text.activeHeader {
  left: 0;
}

.headerIn .text>* {
  font-size: 0.5em;
}

.headerIn .text p {
  margin-top: 20px;
  font-size: inherit;
}

.headerIn .text h1 {
  margin-top: 10px;
}

.headerIn .text h2 {
  margin: 50px auto 0;
  max-width: 220px;
  font-weight: normal;
}

.headerIn .text button {
  margin-top: 300px;
  line-height: 60px;
  font-size: 0.5em;
  padding: 0 5px;
  font-family: 'El Messiri', sans-serif;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.3s;
}

.headerIn .text button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}


@media (orientation: landscape) {

  .headerIn .text p {
    margin-top: 0;
    font-size: inherit;
  }

  .headerIn .text h1 {
    margin-top: 5px;
  }

  .headerIn .text h2 {
    max-width: 100%;
    margin-top: 150px;
    font-weight: normal;
  }

  .headerIn .text button {
    margin-top: 10px;
    line-height: 40px;
    font-size: 0.3em;
    padding: 0 15px;
    font-family: 'El Messiri', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.3s;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {

  .headerIn .text p {
    margin-top: 20px;
    font-size: 70px;
  }

  .headerIn .text h1 {
    margin-top: 20px;
    font-size: 30px;
  }

  .headerIn .text h2 {
    margin: 300px 50px 0;
    font-size: 30px;
    font-weight: normal;
  }

  .headerIn .text button {
    margin-top: 50px;
    line-height: 80px;
    font-size: 30px;
  }
}






/* Section 1 languages*/

.features {
  max-width: 1600px;
  min-height: 80vh;
  margin: 30px auto 0;
  padding: 0 5%;
  text-align: center;
  font-family: 'El Messiri', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.feature1,
.feature2,
.feature3 {
  transform: scale(0);
  transition: 1s;
}

.feature1.activeFeature,
.feature2.activeFeature,
.feature3.activeFeature {
  transform: scale(1);
}

.features h1 {
  font-size: 2em;
}

.features h2 {
  font-size: 1.5em;
  line-height: 100%;
  padding: 20px 0;
}

.features p {
  font-size: 0.7em;
  margin: 10px 0;
  text-align: justify;
}

.features img {
  width: 100%;
  margin: 10px 0 20px;
  max-width: 375px;
}

@media (orientation: landscape) {

  .feature1,
  .feature2,
  .feature3 {
    max-height: 80vh;
    margin-bottom: 100px;
  }

  .features h2 {
    padding: 0;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .features h2 {
    padding: 20p 0;
  }

  .features h1 {
    margin-bottom: 30px;
  }

  .features {
    margin: 5% 0;
  }

  .features p {
    margin: 50px 0;
  }

  .feature1,
  .feature2,
  .feature3 {
    float: left;
    width: 28%;
    margin-left: 5%;
    margin-bottom: 0;
  }
}

/* Section Slogan*/

.motto {
  position: relative;
  background-image: url(../images/motto.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 80vh;
  font-family: 'El Messiri',
    sans-serif;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.motto h1 {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  font-size: 1.8em;
  transition: 1s;
  transform: scale(0);
}

.motto h1.activeH1 {
  transform: scale(1);
}

.motto p.text {
  position: absolute;
  top: 50%;
  left: 5%;
  right: 5%;
  transform: translateY(-50%) scale(0);
  font-size: 1em;
  transition: 2s;
}

.motto p.text.activeP {
  transform: translateY(-50%) scale(1);
}

.motto p.author {
  position: absolute;
  top: 85%;
  left: 70%;
  right: 3%;
  font-weight: normal;
  font-size: 0.7em;
}

.motto_background {
  height: 80vh;
  background-color: rgba(4, 41, 71, 0.4);
  /* #003f72 */
}

@media (orientation: landscape) {
  .motto p.text {
    margin: 0 10%;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .motto h1 {
    font-size: 3em;
  }

  .motto p.text {
    font-size: 1.5em;
    margin: 0 15%;
  }
}

/* Section myHobby*/

.hobby {
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'El Messiri',
    sans-serif;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.wrapper.activeWrapper {
  opacity: 1;
  animation: wrapperAnimation 1s linear;
}

@keyframes wrapperAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}

.wrapper .item {
  min-height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .item:nth-of-type(1) {
  background-image: url(../images/hiking.jpg);
}

.wrapper .item:nth-of-type(2) {
  background-image: url(../images/programming.png);
}

.wrapper .item:nth-of-type(3) {
  background-image: url(../images/reading.png);
}

.wrapper .item:nth-of-type(4) {
  background-image: url(../images/dancing.jpg);
}


.wrapper .item p {
  color: white;
  text-align: center;
  text-shadow: 0 0 4px black;
  background-color: rgba(0, 0, 0, .5);
  font-size: 1em;
  padding: 10px 0;
}

.hobby h1 {
  padding: 20px;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  font-style: italic;
}


@media (orientation: landscape) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wrapper .item {
    min-height: 50vh;
    width: 50%;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {

  .wrapper .item {
    transition: 1s;
    background-size: 110%
  }

  .wrapper .item p {
    font-size: 2em;
    line-height: 50vh;
    opacity: 0;
    padding: 0;
    transition: 1s;
  }

  .wrapper .item:hover p {
    opacity: 1;
  }

  .wrapper .item:hover {
    background-size: 140%;
  }
}

/* Section projects */
/* My projects in JavaScript */

.projects {
  min-height: 80vh;
  font-family: 'El Messiri',
    sans-serif;
  font-size: 20px;
}

.projects,
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.projects span {
  color: yellow;
}

.projects h1 {
  padding: 12px;
  font-size: 1.5em;
}

.projects h2 {
  padding: 0 20px;
  font-size: 1em;
}

.project img {
  box-shadow: 0 0 10px 0 black;
  max-width: 100vw;
  margin: 20px;
}

.project a {
  margin: 0 auto;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  background-color: black;
  width: max-content;
  border: 1px solid inherit;
  border-radius: 10px;
  transform: scale(0.8);
  transition: 1s;
}

.project a:hover {
  transform: scale(1);
}

@media (orientation: landscape) and (min-width: 1280px) {
  .project {
    flex-direction: row;
  }

  .project a {
    padding: 50px;
    align-self: center;
    flex-grow: 1;
    font-size: 1.3em;
  }

  .project img {
    padding: 40px;
    flex-grow: 3;
  }

  .projects h1,
  .projects h2 {
    background-color: rgb(11, 11, 85);
    color: white;
    font-size: 3em;
  }

  .projects h2 {
    font-size: 2em;
  }

}


/* Footer */

footer {
  background-color: rgb(11, 11, 85);
  color: white;
  font-family: 'El Messiri',
    sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

footer .fas {
  padding: 10px;
  font-size: 1.5em;
}

@media (orientation: landscape) and (min-width: 1024px) {
  footer {
    padding: 20px;
  }
}

/**/